
  <td>{{name}}</td>

  <td>{{#each versions}}
  <a href="http://www.OldSoftwareLibrary.com/api/{{../name}}/{{versionName}}" title="Operating System: {{versionOperatingSystem}}">{{versionName}}</a>, 
  	{{/each}}
  </td>
