
  <td>{{name}}</td>

  <td>{{#each versions}}
  <a href="http://localhost:8001/api/{{../name}}/{{versionName}}" title="Operating System: {{versionOperatingSystem}}">{{versionName}}</a> 
  	{{/each}}
  </td>
